# Netflix Movies & TV Shows – EDA Storytelling

## Objective
The purpose of this project is to perform Exploratory Data Analysis (EDA) on the Netflix dataset
to understand content trends, types, and distribution using Markdown storytelling.

## load the libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

## Read the Dataset

In [63]:
df = pd.read_csv(r"D:\Programming Practice\Mentorship Program @Devsil\Weekly Mini Projects\Week 1\Netflix.csv")

## Understand the Dataset

In [14]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [15]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [16]:
df.sample(6)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3245,s3246,TV Show,Singapore Social,NaN,"Nicole Ong, Mae Tan, Sukki Singapora, Vinny Sh...","Singapore, United States","November 22, 2019",2019,TV-MA,1 Season,"International TV Shows, Reality TV",Peer into the lives of young Singaporeans as t...
8281,s8282,Movie,The Drowning,Bette Gordon,"Josh Charles, Julia Stiles, Avan Jogia, Tracie...","United States, Hong Kong","September 1, 2017",2016,TV-MA,99 min,Thrillers,Child psychologist Tom Seymour's testimony hel...
1176,s1177,Movie,Any Crybabies Around?,Takuma Sato,"Taiga Nakano, Riho Yoshioka, Kanichiro, Takash...",Japan,"March 20, 2021",2020,TV-MA,108 min,"Dramas, International Movies",An immature young father in Akita becomes an o...
1231,s1232,TV Show,City of Ghosts,NaN,"August Nuñez, Blue Chapman, Kirikou S'hai Muld...",United States,"March 5, 2021",2021,TV-Y7,1 Season,Kids' TV,Meet the Ghost Club! Their adventures take the...
5589,s5590,Movie,Operações Especiais,Tomas Portella,"Cleo Pires, Marcos Caruso, Thiago Martins, Fab...",Brazil,"February 25, 2017",2015,TV-MA,99 min,"Action & Adventure, International Movies","In a crime-plagued area of Rio de Janeiro, a t..."
1569,s1570,TV Show,Masameer Classics,NaN,"Malik Nejer, Abdulaziz Alshehri",Saudi Arabia,"December 9, 2020",2013,TV-14,4 Seasons,"International TV Shows, TV Comedies","Through dark comedy and eccentric characters, ..."

In [17]:
df.shape

(8807, 12)

In [18]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [21]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [22]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

### Percentage of null values

In [29]:
Total_values = df.shape[0]
null_values = df['director'].isnull().sum()
percentages = (null_values / Total_values) * 100
percentages

29.908027705234474

# Now Data Cleaning

In [30]:
df['director'].fillna('Unknown', inplace=True)

#### now we check it's working

In [31]:
df.isnull().sum()

show_id           0
type              0
title             0
director          0
cast            825
country         831
date_added       10
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [36]:
df['country'].fillna('Unknown', inplace=True)
df['rating'].fillna('Not Rated', inplace=True)
df['cast'].fillna('Not Available', inplace=True)

In [37]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           0
duration         3
listed_in        0
description      0
dtype: int64

In [42]:
df['date_added'].fillna('September 9, 2019', inplace=True)
df['duration'].fillna('90 min', inplace=True)

In [43]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8807 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

### convert the date_added into date and time

In [48]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8719 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

In [51]:
df['release_year'] = df['release_year'].astype('int64')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8719 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

## Removing Duplicates rows

In [53]:
df.duplicated().sum()

0

#### we have no any duplicates in the Netflix dataset

### clean the text

In [55]:
df['country'] = df['country'].str.strip()

## Data Cleaning

The dataset contained missing values in columns such as director, country, rating, and cast.
These missing values were filled with meaningful placeholders to avoid data loss.

Data types were checked and corrected where necessary.
Duplicate rows were removed to ensure data accuracy.
Text values were cleaned by removing extra spaces.